$neutral-start: #fff;
$neutral-lightest: #f7f6f4;
$neutral-light: #ebeae8;
$neutral-base: #c7c6c5;
$neutral-dark: #575655;
$neutral-darkest: #3d3d3d;
$neutral-end: #242424;
$primary-lightest: #faf7ff;
$primary-light: #e4d5ff;
$primary-base: #501e96;
$primary-dark: #301254;
$primary-darkest: #200045;
$secondary-lightest: #ebfaf8;
$secondary-light: #a0e1dc;
$secondary-base: #04c9c4;
$secondary-dark: #03b4b4;
$secondary-darkest: #006063;
$tertiary-lightest: #fff8ed;
$tertiary-light: #ffddab;
$tertiary-base: #ffc878;
$tertiary-dark: #f9925a;
$success-light: #beebd0;
$success-base: #22aa58;
$success-dark: #1a8f49;
$success-darkest: #106633;
$info-light: #c7e0f2;
$info-base: #3c9ee5;
$info-dark: #2d89cc;
$info-darkest: #1b5e8f;
$warning-light: #faebb4;
$warning-base: #ebca54;
$warning-dark: #ccae43;
$warning-darkest: #5c4d18;
$danger-light: #fad9dd;
$danger-base: #dc3e4d;
$danger-dark: #bd313e;
$danger-darkest: #94212c;
$body-color: #242424;
$body-bg: #fff;